.bgBanner {
  background-image: url("../public/assets/bg-banner.svg");
  background-position: center;
  background-size: cover;
}

.bgTakbir {
  background-image: url("../public/assets/bg-takbir.svg");
  background-position: center;
  background-size: cover;
}

.bgKeluarga {
  background-image: url("../public/assets/bg-keluarga.svg");
  background-position: center;
  background-size: cover;
}

.bgSelamat {
  background-image: url("../public/assets/bg-Selamat.svg");
  background-position: center;
  background-size: cover;
}
